Source: libftxr
Section: libs
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.9.5
Homepage: https://github.com/libyal/libftxr/

Package: libftxr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libftxr-dbg
Description: Library to access the Transactional Registry (TxR) format
 libftxr is a library to access the Transactional Registry (TxR) format.

Package: libftxr-dbg
Architecture: any
Section: debug
Depends: libftxr (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libftxr
 Debugging symbols for libftxr.

Package: libftxr-dev
Section: libdevel
Architecture: any
Depends: libftxr (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libftxr
 Header files and libraries for developing applications for libftxr.

