Source: libftxr
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libftxr
Vcs-Git: https://github.com/libyal/libftxr.git

Package: libftxr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libftxr1
Replaces: libftxr1
Suggests: libftxr-dbg
Description: Library to access the Transactional Registry (TxR) format
 libftxr is a library to access the Transactional Registry (TxR) format.

Package: libftxr-dbg
Architecture: any
Section: debug
Depends: libftxr (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libftxr
 Debugging symbols for libftxr.

Package: libftxr-dev
Section: libdevel
Architecture: any
Depends: libftxr (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libftxr
 Header files and libraries for developing applications for libftxr.

